[tool.black]
line-length = 88
target-version = ['py38']
include = '\.py?$'
skip-string-normalization = true

[build-system]
requires = [
    "setuptools>=42",
    "wheel",
    "versioneer-518"
]
build-backend = "setuptools.build_meta"
